Babel==1.3
Cartopy==0.9.x
Genshi==0.6
Jinja2~> 2.10.1
MarkupSafe==0.18
Powerline==beta
PyOpenGL==3.0.2
PyOpenGL-accelerate==3.0.2
Pygments==1.6
SQLAlchemy~> 1.3.0
Sphinx==1.1.3
VTK==6.0
apparmor==2.8.2
apptools==4.2.0
configobj==4.7.2
cupshelpers==1.0
descartes==1.0
distribute==0.7.3
docutils==0.10
envisage==4.3.0
flake8==1.3.1
keyring==3.0.5
logilab-astng==0.24.3
logilab-common==0.58.0
## FIXME: could not find svn URL in dependency_links for this package:
matplotlib==1.3.0-r0
mayavi==4.3.0
mercurial==2.7.1
nose==1.3.0
numpy==1.7.1
pep8==1.4.5
psutil==1.0.1
ptags-ascii==1.0.21
pycups==1.9.63
pycurl==7.19.0
pyface==4.3.0
pyflakes==0.7.3
pygobject==3.10.2
pylint==0.28.0
pymongo==2.6.2
pyparsing==2.0.1
pyshp==1.1.4
pysmbc==1.0.13
python-dateutil==2.1
python-pexpect==2.3
pytz==2013.8
pyudev==0.16.1
pyzmq==13.0.0
rope==0.9.4
scipy==0.12.0
simplejson==3.3.0
six==1.4.1
spyder==2.2.5
synaptiks==0.8.1
threat2ptags==1.0.2
tornado==3.1
traits==4.3.0
traitsui==4.3.0
urlgrabber==3.9.1
vboxapi==1.0
vboxgtk==0.8.2
virtualenv==1.7.2
wsgiref==0.1.2
wxPython==2.8.12.1
wxPython-common==2.8.12.1
